<div class="container about-page">
<h1>About us</h1>

<p>Here you got fresh Home made Items....No compromise on the Quality of the food!!</p>
<p><strong>We operate our business under these guiding principles:</strong>
<ul>
  <li>
    Our idea from day one has been to create, produce and serve super great, full-flavored food that has a beginning, middle, and finish to every bite. Everything at Foodie is ruled by taste.
  </li> 
  <li>
    We strive for efficient, uncompromised, sincere, fabulous, caring and exceptional service (as close to perfect as possible).
  </li>
  <li>
    We want to be a good place to eat for everyone. We also want to be considered a good place to shop on the web. We offer something for everyone, from tempting food and cakes to satisfy you to a delicious homemade meal to take home to the family.
  </li>
  <li>
    We are excited about building strong relationships with everyone we interact with: our customers, our community, and our suppliers.
  </li>
  <li>
    Community is very important to us, and we are an active part of our community. We purchase from local HALAL farms, donate food to charitable causes.
  </li>

  <li>We communicate lavishly – with our customers.
  </li>
</ul></p>
</div>



