<div class="panel panel-default bgthank">
  <div class="panel-body">
    <p class="thanksmsg">Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->