/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*SCSS variables...defined once and used repetitivley*/

$font-stack: 'Roboto', cursive,helvetica, arial, sans-serif;

body{
	margin: 0px;
	padding-top: 50px;
}


.main-navbar{
	margin-bottom: 0px;
	border: 0px;
}

.about-page{
	font-family: $font-stack;
	color: #696969;
	font-weight: 900; 
}

.contact-header{
	text-align: center;
	font-family: $font-stack;
}


.form-control{
	width: 100%;
}




/*for form search field
*/.search-form{
	padding-top: 5px;
}


/*for making the button of search a bit smaller to adjust the size
*/  

.search-button{
	display: inline-block;
  float: right;
  height: 35px;
  border-radius: 0 25px 25px 0;
}

.search-box {
  width: auto;
  display: inline-block;
  float: left;
}


.form-center{
	text-align: center;
}

/*for setting the display alert message 
*/
.alert-message {
	text-align: center;
	margin-bottom: 0px;
}








/*when the size of the screen is 500px or less
*/
@media only screen and (max-width: 600px) {
  body {
      background-color: #C0C0C0;
  }
  .product-style h2{
  	font-size: 20px;
  }
}