// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-header, .product-style h2, p{

	font-family: 'Roboto', cursive,helvetica, arial, sans-serif;

}
.product-style{
  padding-bottom: 30px;

}

.product-style a:hover{
	color:black;
  background-color: #fff;
	text-decoration: none;
}

.product-style a:visited{
  color:black;
}

.product-row{
  padding-bottom: 30px;
}

/*for text moving pattern*/
.product-style h2{
	font: 100 1em; 
  animation: ProductStyleAnimate 3s ease 1s 6 alternate backwards;
}
@keyframes ProductStyleAnimate {
  100% {
    text-indent: 10%;
  }
}


/*for animation of product header */

.product-header {
	text-align: center;
  animation: ProHeaderAnimate 5s ease 1s 12 alternate forwards;
}

@keyframes ProHeaderAnimate {
  33% {
    text-shadow: 2px 2px 2px red;
  }
  66% {
    text-shadow: -2px -2px 2px blue;
  }
  100% {
    text-shadow: 0px 0px 10px green;
  }
}

.product-data{
  height: 250px;
  padding: 20px;
  font-size: 2.5em;
}