// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-header, .product-style h2, p{

	font-family: 'Roboto', cursive,helvetica, arial, sans-serif;
}

.product-style{
  padding-bottom: 30px;

}

.product-style a:hover{
	color:black;
  background-color: #fff;
	text-decoration: none;
}

.product-style a:visited{
  color:black;
}

.product-row{
  padding-bottom: 30px;
}

/*for show page of product container*/
.product-container{
  max-width: 70%;
  margin: 0 auto;
}


/*for text moving pattern*/
.product-style h2{
	font: 100 1em; 
  animation: ProductStyleAnimate 3s ease 1s 6 alternate backwards;
}
@keyframes ProductStyleAnimate {
  100% {
    text-indent: 10%;
  }
}


/*for animation of product header */

.product-header {
	text-align: center;
  animation: ProHeaderAnimate 5s ease 1s 12 alternate forwards;
}

@keyframes ProHeaderAnimate {
  33% {
    text-shadow: 2px 2px 2px red;
  }
  66% {
    text-shadow: -2px -2px 2px blue;
  }
  100% {
    text-shadow: 0px 0px 10px green;
  }
}

.product-data{
  height: 250px;
  padding: 20px;
  font-size: 2.5em;
}

/*to add some taste in pagination for products page and comments area
*/
.flickr_pagination {
  display: block;
  text-align: center;
  padding: 0.3em;
  cursor: default; }
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em; }
.flickr_pagination .disabled {
  color: #aaaaaa; }
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084; }
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none; }
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white; }
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; }
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px; }
.flickr_pagination .previous_page {
  margin-right: 1em; }
.flickr_pagination .next_page {
  margin-left: 1em; }