<p id="notice"><%= notice %></p>

<div class="add-new-btnProduct">
  <% if current_user && current_user.admin? %>
    <%= link_to "Add New Product", new_product_path, class: "btn btn-primary btn-colr" %>
  <% end %>
</div>

<h1 class="product-header">Our Specialities</h1><br><br>
<div class="container">
  <div class="row">
    <%= render @products %>
  </div>  <!-- end Row -->
</div>  <!-- end Container -->
<br>

<!-- to limit the products shown on one page -->
<div class="pagination flickr_pagination">
  <%= will_paginate @products %> 
</div><br>

