<p id="notice"><%= notice %></p>
<br>
<h1 class="product-header">Our Specialities</h1><br><br>
<div class="container">
  <div class="row">
    <%= render @products %>
  </div>  <!-- end Row -->
</div>  <!-- end Container -->
<br>

<%= link_to 'New Product', new_product_path %>
<%= link_to "Show Product", product_path(3) %>
